aside.app-sidebar {
    width: 100px;
    z-index: 10;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    height: 100%;
    padding: 32px 24px;
    align-items: center;

    transition: all ease 0.5s;
}
aside.app-sidebar.expanded {
    width: 440px;
    padding: 80px;
    align-items: start;
    position: relative;
}

aside.app-sidebar img {
    width: 48px;
}

aside.app-sidebar .sidebar-actions button {
    color: #fff;
    border-radius: 16px;
    background-color: #12AFCB;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: background-color ease 0.2s;
    position: relative;
}
aside.app-sidebar .sidebar-actions button:first-child {
    margin-bottom: 20px;
}
aside.app-sidebar .sidebar-actions button.active {
    color: #12AFCB;
    background-color: #FFD666;
}
aside.app-sidebar .sidebar-actions button:hover {
    background-color: #17D6EB;
}
aside.app-sidebar button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(47, 121, 182, 0.5);
}
aside.app-sidebar .sidebar-actions button:hover .dot,
aside.app-sidebar .sidebar-actions button:hover.active {
    background-color: #f3faae;
}
aside.app-sidebar .sidebar-actions button svg {
    width: 26px;
    height: 26px;
    stroke: currentColor;
}
aside.app-sidebar .sidebar-actions button:hover .dot {
    border-color: #17D6EB;
}
aside.app-sidebar .sidebar-actions button.active .dot {
    border: 3px solid #FFD666;
    background: #12AFCB;
}
aside.app-sidebar .sidebar-actions button:hover.active .dot {
    border-color: #f3faae;
}
aside.app-sidebar .sidebar-actions button .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #12AFCB;
    background: #FFD666;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: border-color ease 0.2s;
}

aside.app-sidebar .sidebar-actions {
    display: flex;
    flex-direction: column;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
    width: 48px;
    height: 48px;

    border: 0;

    background: #12AFCB;
    border-radius: 16px;

    cursor: pointer;

    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
    background: #17D6EB;
}


aside.app-sidebar h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

aside.app-sidebar p {
    line-height: 28px;
    margin-top: 24px;
}
